/* Begin of Global Styles*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9fcfe;
}

span {
    color: #1ac056;
    font-weight: 600;
}

figure{
    margin: 0;
}

section {
    overflow: hidden;
    padding: 0 50px 50px;
}

.headers {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.columns {
    float: left;
    width: 50%;
}



/*---------------------*/
/* Begin of header */
/* Begin of menu */
#navigation {
    position: fixed;
    z-index: 10;
    width: 100%;
    text-align: right;
    background-color: #fff;
    
}

nav> ul, h1 {
    margin: 0;
}

#responsive-menu{
   display: none;
}

nav>label[for="responsive-menu"]{
   display: none;
}


.menu-item {
    padding: 20px;
    display: inline-block; 
    margin-left: 10px;
}

.menu-item a{
    color: #1ac056;
    text-decoration: none;
}

#navigation ul .menu-item:hover a{
    transform: scale(1.2);
    color: red;
}


#responsive-menu{
    display: none;
}

/* End of menu */



/*-------------------------*/
/* Begin of title*/
#header-background {
    height: 100vh;
    position: relative;
    color: #fff ; 
        
    background-image: url('../img/header-background.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

header div{
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#header-title{
    font-size: 4em;
    font-weight: 100;
}

#subtitle {
    padding: 20px;
    font-size: 2em; 
    margin: 0;
    font-weight: 100;
}
/* End of title*/
/* End of header */





/* Begin of about me*/
#about-me-section>figure>img {
    width: 70%;
    padding-right: 25%;
}
#about-txt {
    text-align: left;
}
/* End of about me*/






/* Begin of skills */
#skills + p{
    margin: 0;
}
.icon {
    display: inline-block;
    height: 25%;
    padding: 20px;
}

.icon:hover {
    transform: scale(1.2);
}
/* End of skills */






/* Begin of portfolio */
#portfolio-set {
    padding-bottom: 0 80px 100px;
    text-align: center;
    font-size: 0;
}
#portfolio-set .portfolio-tile{
    display: inline-block;
    width: 30%;
    height: 370px;
    
/*    remove white spaces bewteen tiles - font-size: 0;*/
    font-size: 0;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
}
#portfolio-set .portfolio-tile .mask {
    height: 100%;
    opacity: 0;
    background-color: rgba(33, 59, 80, 0.8);
    padding: 5px;
    
    transition: all 0.5s;
}

#portfolio-set .portfolio-tile .mask .mask-box{
    height: 100%;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    position: relative;
}

#portfolio-set .portfolio-tile .mask .mask-box .mask-content {
    color: #fff;
    font-size: 16px;
    position: absolute;
    width: 100%;
    top: 50%;
    padding: 5px;
    
    transform: translateY(-50%);
}

#portfolio-set .portfolio-tile .mask .mask-box .mask-content .portfolio-link {
    color: #fff;
}

#portfolio-set .portfolio-tile .mask .mask-box .mask-content .portfolio-link:hover {
    color: #1ac056;
}

#portfolio-set .portfolio-tile .mask .mask-box .mask-content .portfolio-link:hover .fa{
    transform: scale(1.2);
}    

#portfolio-set .portfolio-tile .mask:hover{
    opacity: 1;
}


#portfolio-set .portfolio-tile .mask .mask-box .mask-content>i{
    padding-top: 35px;
}

#background1{
    background-image: url(../img/portfolio1.jpg);
}

#background2{
    background-image: url(../img/portfolio2.jpg);
}

#background3{
    background-image: url(../img/portfolio3.jpg);
}
/* End of portfolio */




/* Begin of footer */
footer {
    background-color: #213b50;
    overflow: hidden;
    padding-bottom: 30px;
    position: relative;
}
.footer-sections{
    text-align: left;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 300;
}
/*
.columns {
    float: left;
    width: 50%;
}
*/



/* Left footer section */
.footer-sections>address {
    font-style: normal;
    color: #fff;
}

.footer-sections>p {
    color: #fff;
    font-size: 2em;
}
mail>a {
    color: #1ac056;
}

#footer-icon-set{
    margin-top: 20px;
    margin-bottom: 15px;
}

.social-icon{
    display: inline-block;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    margin-right: 10px;
}

.social-icon > a {
    line-height: 50px;
    color: #fff;
}

.social-icon .fa:hover{
    color: #1ac056;
    transform: scale(1.2);
    
}


/* Right form section */
form {
    height: 100%;
    padding-top: 5%;
}
input, textarea{
    width: 100%;
    height: 25px;
}
textarea {
    height: 70px;
    resize: vertical;
}
input, textarea {
    border: none;
    background-color: #2b4a64;
    margin-bottom: 10px;
    margin-top:5px;
    padding: 5px 15px;
}
input[type="submit"]{
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #1ac056;
    height: 40px;
    float: right;
/*    lub inline-block i text-align right*/
}

input[type="submit"]:hover{
    color: #1ac056;
    background-color: #fff;
}

#footer-bottom-margin {
    background-color: #1ac056;
    width: 100%;
    text-align: left;
    padding-left: 30px;
    color: #fff;
    font-weight: 300;
    position: absolute;
    bottom: 0;
}
/* End of footer */